.header
  %h1
    <a href="/"><img src="/images/gren-icon-mini.png" alt="gren-icon" border="0"/></a>
    CodeStock

.content
  = create_form(params[:query], package_name(@path), params[:shead])

  .search-summary
    <span class="keyword">#{topic_path(@path, params)}</span> <span class="total-entries">#{@total_records}</span>件（#{@elapsed}秒）
  ~ @record_content


