!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, 'CodeStock'].compact.join(' - ')
    -# %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'css/style.css'}
    %link(rel="stylesheet" href="/css/gren.css"  type="text/css" media="all")

  %body
    -# %header
    -# %h1 <a href=".">CodeStock</a>

    != yield

    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13136329-8']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

-#     %hr

-#     %footer
-#       %p
-#         ! Develop by <a href="./contact.html">ongaeshi</a>
-#         ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
-#         ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
