.header
  %h1
    <a href="#{url_for '/'}"><img src=#{url_for @setting.header_icon} alt="milkode-icon-mini" border="0" height="75px"/></a>
    #{@setting.header_title} &nbsp;
    = create_headmenu(@path, params, defined?(flistpath) ? flistpath : '')
