- @title = 'ヘルプ'

.header
  %h1
    <a href="/"><img src=#{@setting.header_icon} alt="milkode-icon-mini" border="0" height="75px"/></a>
    #{@title}

.content
  .help-content
    %h1 検索
    %ol
      %li キーワードを並べてAND検索
      %pre
        :preserve
          def open
      
      %li １フレーズとして検索
      %pre
        :preserve
          "def open"
      
    %h1 絞り込みオプション
    %p
      検索キーワードと組み合わせて使う
      
    %ol
      %li パッケージ名で絞り込み
      %pre
        :preserve
          p:milkode
      
      %li ファイル名で絞り込み
      %pre
        :preserve
          f:test
      
      %li 拡張子で絞り込み
      %pre
        :preserve
          s:rb
      
      %li ファイル名もしくはパッケージ名で絞り込み
      %pre
        :preserve
          fp:milkode
      
      %li ファイル名、パッケージ名、もしくはファイルの内容
      %pre
        :preserve
          k:test
      
      %li 検索範囲を複数行に広げる
      %pre
        :preserve
          w:7 read write                          <span class="comment"># 7行以内に'read'と'write'が含まれる箇所</span>
          w:0 read write                          <span class="comment"># 'w:0'ならファイル内全て</span>

    %h1 ダイレクトパス
    %ol
      %li ファイル表示時に行番号をクリックすると取得可能
      .poi 画像をはる

      %li ダイレクトパスで検索すると直接ジャンプ
      %pre
        :preserve
          /proj/a/file.rb:81                      <span class="comment"># /パッケージ名/ファイル名:行番号</span>
          "/proj/a file.rb:3"                     <span class="comment"># 空白を含むダイレクトパスは""で囲む</span>
          /proj/a/file.rb:1 /proj2/a/file.c:121   <span class="comment"># 空白で区切れば複数個渡せる</span>
