= haml :header_menu

.content
  .help-content
    %h1 ヘルプ
    
    %ol
      %li <a href="#search">検索</a>
      %li <a href="#refine">絞り込みオプション</a>
      %li <a href="#directpath">ダイレクトパス</a>

    %h2#search 検索
    %ul
      %li キーワードを並べてAND検索

      %pre
        :preserve
          def open

      %li １フレーズとして検索
      %pre
        :preserve
          "def open"
      
    %h2#refine 絞り込みオプション
    %p
      検索キーワードと組み合わせて使う
      
    %ul
      %li パッケージ名で絞り込み
      %pre
        :preserve
          p:milkode
      
      %li ファイル名で絞り込み
      %pre
        :preserve
          f:test
      
      %li 拡張子で絞り込み
      %pre
        :preserve
          s:rb
      
      %li ファイル名もしくはパッケージ名で絞り込み
      %pre
        :preserve
          fp:milkode
      
      %li ファイル名、パッケージ名、もしくはファイルの内容
      %pre
        :preserve
          k:test
      
      %li 検索範囲を複数行に広げる
      %pre
        :preserve
          w:7 read write                          <span class="comment"># 7行以内に'read'と'write'が含まれる箇所</span>
          w:0 read write                          <span class="comment"># 'w:0'ならファイル内全て</span>

    %h2#directpath ダイレクトパス
    %p
      Milkodeにおける<strong>"絶対パス"</strong>に相当するもの
      
    %ul
      %li ダイレクトパスで検索すると直接ジャンプ
      %pre
        :preserve
          /proj/a/file.rb:81                      <span class="comment"># /パッケージ名/ファイル名:行番号</span>
          "/proj/a file.rb:3"                     <span class="comment"># 空白を含むダイレクトパスは""で囲む</span>
          /proj1/file.rb:1 /proj2/file.c:2         <span class="comment"># 空白で区切れば複数個渡せる</span>

      %li ファイルモードで行番号をクリックすると取得可能
      <img src="#{url_for '/images/milkode-directpath-copy.gif'}" />

      %li <a href="https://github.com/ongaeshi/emacs-milkode">emacs-milkode</a>との連携にも使う
