!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, 'Milkode'].compact.join(' - ')
    = stylesheet_link_tag "/css/milkode.css", "/css/coderay.css", "/css/coderay-patch.css", :media => "all"
    = javascript_script_tag "js/milkode.js"

  %body
    -# %header
    -# %h1 <a href=".">Milkode</a>

    != yield

-#  GoogleAnalyticsを使いたい場合はここにコードを挿入して下さい。
