!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, 'Milkode'].compact.join(' - ')
    %link(rel="stylesheet" href="/css/gren.css"  type="text/css" media="all")
    %link(rel="stylesheet" href="/css/coderay.css"  type="text/css" media="all")

  %body
    -# %header
    -# %h1 <a href=".">Milkode</a>

    != yield

-#  GoogleAnalyticsを使いたい場合はここにコードを挿入して下さい。
