.header
  %h1
    <a href="/"><img src="/images/MilkodeIcon135.png" alt="milkode-icon-mini" border="0" height="75px"/></a>
    Milkode
    = create_headmenu(@path, params, '..')

.content
  = create_form(@path, params[:query], params[:shead])

  .search-summary
    <span class="keyword">#{topic_path(@path, params)}</span>（#{@elapsed}秒）
  ~ @record_content




