<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Milkode - {{ page.title }}</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <header>
    <div id="title">
      <a class="icon" href="/"><img src="/images/milkode-icon-100.png"></a>
      <h1>Milkode</h1>
      <!-- <div id="langs"><a href="/index.html">[English]</a> <a href="/ja/index.html">[Japanese]</a></div> -->
    </div>
    
    <nav>
      <ul>
        <li><a href="./index.html">HOME</a></li>
        <li><a href="./download.html">Download</a></li>
        <li><a href="./manual.html">Manual</a></li>
        <li><a href="./screenshot.html">ScreenShot</a></li>
        <li><a href="./links.html">Links</a></li>
        <li><a href="https://github.com/ongaeshi/milkode/blob/master/HISTORY.ja.rdoc">History</a></li>
      </ul>
    </nav>
  </header>

  <article>
    {{ content }}
  </article>
</body>

<footer>
  <div>
    <div id="tweet_button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://milkode.ongaeshi.me" data-count="horizontal" data-text="Milkode - Line based source code search engine">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></div>
    <div id="hatena_button"><a href="http://b.hatena.ne.jp/entry/http://milkode.ongaeshi.me" class="hatena-bookmark-button" data-hatena-bookmark-title="Milkode - Line based source code search engine" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></div>
  </div>

  <div>
    <p>Copyright (c) 2013 ongaeshi - <a href="http://ongaeshi.me/">web</a></p>
  </div>

</footer>

</html>

